macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp A>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp B>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp C>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp D>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp E>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp F>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp G>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp H>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp I>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp J>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp K>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp L>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp M>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp N>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp O>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp P>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp Q>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp R>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp S>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp T>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp U>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp V>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp W>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp X>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp Y>;
};
macro_bo: macro_bo{
compatible = "zmk,behavior-macro";
label = "macro_bo";
#binding-cells = <0>;
bindings = <&kp Z>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N1>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N2>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N3>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N4>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N5>;
};
macro_rbo: macro_rbo{
compatible = "zmk,behavior-macro";
label = "macro_rbo";
#binding-cells = <0>;
bindings = <&kp N6>;
};
macro__turbo: macro__turbo{
compatible = "zmk,behavior-macro";
label = "macro__turbo";
#binding-cells = <0>;
bindings = <&kp COMMA>;
};
macro_e_quote_turbo: macro_e_quote_turbo{
compatible = "zmk,behavior-macro";
label = "macro_e_quote_turbo";
#binding-cells = <0>;
bindings = <&kp SQT>;
};
macro__turbo: macro__turbo{
compatible = "zmk,behavior-macro";
label = "macro__turbo";
#binding-cells = <0>;
bindings = <&kp SLASH>;
};